/*.opensdf
/*.sdf
/Projects/PassmwAlbedo/Debug
/Projects/PassmwAlbedo/Release
/Debug
/Release
/WakaponBackups
site
/Web/blog/data/temp
/Web/blog/patapom/docs/Lighting/Colored Penumbra/images/GOT1.png
/Web/blog/patapom/docs/Lighting/Colored Penumbra/images/GOT2.png
/Web/blog/patapom/docs/Lighting/Colored Penumbra/images/Saturation Effect 2.psd
/Web/blog/patapom/docs/Lighting/Colored Penumbra/images/Saturation Effect.psd
/Web/blog/patapom/docs/Lighting/Dishonored2/data/Area Light Clipping.eps
/Web/blog/patapom/docs/Lighting/Dishonored2/data/Area Light Clipping.pdf
/Web/blog/patapom/docs/Lighting/Dishonored2/data/AreaLightIntersection.psd
/Web/blog/patapom/docs/images/BRDF/MSBRDF Saturation.psd
/Web/blog/patapom/docs/images/CrossProduct/Cross2D Normal.psd
/Web/blog/patapom/docs/images/CrossProduct/Cross3D Sub-Spaces.psd
/Web/blog/patapom/docs/images/CrossProduct/Cross3D.psd
/Web/blog/patapom/docs/images/ShadowColor/GOT1.png
/Web/blog/patapom/docs/images/ShadowColor/GOT2.png
/Web/blog/patapom/docs/images/ShadowColor/Saturation Effect 2.psd
/Web/blog/patapom/docs/images/ShadowColor/Saturation Effect.psd
/Web/blog/patapom/docs/BRDF/VolumeInterPenetrationProper_128x64 - Copy.csv
/Web/blog/patapom/docs/BRDF/VolumeInterPenetration_128x64 - Copy.csv
/Web/blog/patapom/docs/BRDF/data/CubeMapPixels.eps
/Web/blog/patapom/docs/BRDF/data/CubeMapPixels.pdf
/Web/blog/patapom/docs/BRDF/data/Lobes.eps
/Web/blog/patapom/docs/BRDF/data/Lobes.pdf
/Web/blog/patapom/docs/Lighting/Area Lights/Docs/Sphere2Disk.eps
/Web/blog/patapom/docs/Lighting/Area Lights/Docs/Sphere2Disk.pdf
