/*!
 * 
 */

html, body
{
/*	width:		100%;
	height:		100%;
	padding:	0;
	margin:		0;
	overflow:	hidden !important;

*/

	font-size:			20px;
	color:				#FAC520;	/* Golden Rod */
	background-color:	#002366;	/* Royal Blue */
	overflow:			hidden;
	background-image:	url( 'background.png' );
}


.options-container
{
	display:		block;
	text-align:		left;
}


/* ===================================================
		Genre
   =================================================== */
.gender-container
{
	display:		block;
	margin:			10px;
}

.gender
{
	display:		inline-block;
	margin:			10px;
}


/* ===================================================
		Titre de noblesse
   =================================================== */
.nobility-container
{
	display:		block;
	margin:			10px;
}

.nobility-container .t0
{
	display:		inline-block;
	width:			250px;
	text-align:		left;
}

.nobility-container .t1
{
	display:		inline-block;
	width:			300px;
}

/* Combo-Boxes */
.ui-combobox
{
	position:	relative;
	display:	inline-block;
	width:		100%;
}
.ui-combobox-toggle
{
	position:	absolute;
	top:		0;
	bottom:		0;
	margin-left: -1px;
	padding:	0;
	/* support: IE7 */
	*height:	1.7em;
	*top:		0.1em;
}
.ui-combobox-input
{
	margin:		0;
	padding:	0.3em;
}




/* ===================================================
		Prénom
   =================================================== */
.first-name-container
{
	display:		block;
	margin:			10px;
}

.first-name-option
{
	display:		block;
	vertical-align:	top;
	text-align:		left;
	margin-top:		5px;
	margin-bottom:	5px;
}

.first-name-option .t0
{
	display:		inline-block;
	width:			250px;
	margin:0px;
}

.first-name-option .t1
{
	display:		inline-block;
	width:			300px;
	margin:0px;
}

.first-name-option-line
{
	display:		block;
/*
	float:			left;
*/
/*
*/
}

.checkbox
{
	display:		inline;
	width:			15px;
}

.first-name-option-line .t0
{
	display:		inline-block;
	width:			40%;
}

.first-name-option-line .t1
{
	display:		inline-block;
	width:			50%;
}


/* ===================================================
		Nombre de particules
   =================================================== */
.particles-container
{
	display:		block;
	margin:			10px;
}

.particles-label
{
	display:		inline-block;
	width:			250px;
	text-align:		left;
}

.particles-slider
{
	display:		inline-block;
	width:			300px;
}



/* ===================================================
		Result box
   =================================================== */

.resultbox-container
{
	position:			fixed;
	width:				1000px;
	height:				400px;
	background-image:	url( 'canvas.png' );
	background-size:	10%;
	background-color:	#000000;
	margin:				50px;
}

.resultbox
{
	position:			absolute;
	width:				900px;
	height:				300px;
	left:				50px;
	top:				50px;

/*
	width:				90%;
	height:				20px;
	margin-top:         -10px;
     top:50%;
     left:5%;
     margin:-150px 0 0 -150px;
     background:red;
*/
	
	
	text-align:			center;
	color:				#000000;
	font-size:			40px;
	vertical-align:		middle;
/*
	line-height:		260px;
*/
	
	font-weight:		bold;
	font-family:		Poor Richard;
/*
	font-family:		Adobe Song Std L;
*/

}

.resultbox-top
{
	display:			block;
}
.resultbox-middle
{
	display:			block;
}
.resultbox-bottom
{
	display:			block;
}

.resultbox-nw
{
	position:			absolute;
	top:				0px;
	left:				0px;
	display:			inline-block;
	background-image:	url( 'frame-nw.png' );
	width:				100px;
	height:				100px;
	background-size:	100%;
	background-repeat:	no-repeat;
	background-position:left top;
}
.resultbox-n
{
	position:			absolute;
	top:				0;
	left:				100px;
	display:			inline-block;
	background-image:	url( 'frame-n.png' );
	width:				800px;
	height:				100px;
	background-size:	192px;
	background-repeat:	repeat-x;
	background-position:top;
}
.resultbox-ne
{
	position:			absolute;
	top:				0px;
	right:				0px;
	display:			inline-block;
	background-image:	url( 'frame-ne.png' );
	width:				100px;
	height:				100px;
	background-size:	100%;
	background-repeat:	no-repeat;
	background-position:right top;
}

.resultbox-w
{
	position:			absolute;
	top:				95px;
	left:				0;
	display:			inline-block;
	background-image:	url( 'frame-w.png' );
	width:				100px;
	height:				210px;
	background-size:	100%;
	background-repeat:	repeat-y;
	background-position:left;
}

.resultbox-e
{
	position:			absolute;
	top:				95px;
	right:				0;
	display:			inline-block;
	background-image:	url( 'frame-e.png' );
	width:				100px;
	height:				210px;
	background-size:	100%;
	background-repeat:	repeat-y;
	background-position:left;
}

.resultbox-sw
{
	position:			absolute;
	bottom:				0;
	left:				0;
	display:			inline-block;
	background-image:	url( 'frame-sw.png' );
	width:				100px;
	height:				100px;
	background-size:	102%;
	background-repeat:	no-repeat;
	background-position:left bottom;
}
.resultbox-s
{
	position:			absolute;
	bottom:				-3px;
	left:				100px;
	display:			inline-block;
	background-image:	url( 'frame-s.png' );
	width:				800px;
	height:				100px;
	background-size:	192px;
	background-repeat:	repeat-x;
	background-position:top;
}
.resultbox-se
{
	position:			absolute;
	bottom:				0;
	right:				0;
	display:			inline-block;
	background-image:	url( 'frame-se.png' );
	width:				100px;
	height:				100px;
	background-size:	102%;
	background-repeat:	no-repeat;
	background-position:right bottom;
}


/*.UI-widget-label
{
	display:	block;
}
.UI-widget-label .t0
{
	display:	inline-block;
	text-align: left;
	width:		38%;
}
.UI-widget-label .t1
{
	display:	inline-block;
	width:		60%;
}


