/*!
 * 
 */

html, body
{
	font-size:			1em;
	color:				#202020;	/* Dark Gray */
	background-color:	#F0F0F0;	/* Light Gray */
	overflow:			hidden;
	margin:				0;

	font-family:		Trebuchet MS;
}

#ContainerGlobal
{
	display:			block;
}

/* Contains the search & results */
#PanelLeft
{
	position:			fixed;
	width:				30%;
	height:				100%;
	left:				0;
	right:				auto;

	text-align:			left;
/*
	border:				1px;
	border-style:		solid;
	border-color:		#000000;
*/
	text-align:			center;
	background-color:	#C0C0C0;	/* Light Gray */
}

/* Contains the visualisations */
#PanelRight
{
	position:			fixed;
	width:				70%;
	height:				100%;
	left:				30%;
	right:				auto;

	text-align:			left;
	border-left:		2px;
	border-left-style:	solid;
	border-color:		#000000;
	text-align:			center;
	background-color:	#C0C0C0;	/* Light Gray */
}

/* Top-Left Contains Search Box */
#PanelSearch
{
	background-color:	#C0C0C0;	/* Light Gray */
	text-align:			left;
	height:				auto;
}

/* Search box + button */
#SearchText
{
	width:				100%;
	display:			block;
	margin:				4px;
}
#SearchText div
{
	display:			inline-block;
}
#ClearTags
{
	width:				100%;
	margin-left:		100%;
	font-size:			0.75em;
	height:				24px;
}

/* List of tags */
#TagsBox
{
	display:			block;
	font-size:			0.75em;
}
.tags-list
{
	display:			inline-block;
	width:				22%;
}


/* Bottom-Left Contains Results */
#PanelResult
{
	margin-top:			10px;
	background-color:	#C0C0C0;	/* Light Gray */
	border-top:			2px;
	border-top-style:	solid;
	border-top-color:	#000;
	background-color:	#AAA;

	height:				60%;
	background-image: linear-gradient(#AAA, #BBB, #CCC);
	background-image:-webkit-linear-gradient(#AAA, #BBB, #CCC);	/* chrome 10+, safari 5.1+ */
	overflow:			auto;	/* Shows the scrollbar if too many BRDFs vertically... */
}

.list-element
{
	display:			block;
	height:				80px;
	margin-top:			4px;
	margin-left:		3%;
	margin-right:		3%;
	background-color:	#888;
	padding:			8px;

	/* Text alignment */
	vertical-align:		middle;
	text-align:			left;
	font-size:			1.25em;	/* Larger */
	overflow:			hidden;
}
.list-element span
{
	display:			inline-block;
	position:			relative;
	bottom:				40%;
	width:				70%;
}

.list-element-selected
{
	background-image: linear-gradient( #DA9, #EBA, #EBA, #DA9 );
	background-image:-webkit-linear-gradient( #DA9, #EBA, #EBA, #DA9 );
	border:			1px;
	border-color:	#000;
	border-style:	solid;
}

.list-element-thumbnail
{
	display:		inline-block;
	position:		relative;
	border:			1px;
	border-color:	#000;
	border-style:	solid;
	height:			98%;
	width:			auto;
}

/* Top-Right Contains 3D visualization */
#PanelVisuTop
{
	background-color:	#C0C0C0;	/* Light Gray */

	height:				20%;
}

/* Bottom-Left Contains Results */
#PanelVisuBottom
{
	background-color:	#C0C0C0;	/* Light Gray */
/*
	height:				auto;
*/
}

#TextureAndSwatches
{
	position:absolute;
	left:0px;
}

#SwatchesAndInfos
{
	display:block;
}
#AllSwatches
{
	display:inline-block;
	width: 140px;
}
#SwatchInfos
{
	display:inline-block;
	width:auto;
}
.texture
{
	display:		inline-block;
	height:			512px;
	width:			auto;
	
	border:			1px;
	border-color:	#000;
	border-style:	solid;
	background-color:#222;
}

.swatches-line
{
	display:block;
}

.swatch
{
	display:		inline-block;
	width:40px;
	height:30px;
	border:			1px;
	border-color:	#000;
	border-style:	solid;
	margin-left:auto;
}


/* ===================================================
		Properties & Widgets
   =================================================== */

.ui-widget
{
	font-size: 1em;
}


/* This is the class of a div containing text (as a child div) + another child div that is the actual widget */
.UI-widget-label
{
	display:	block;

	padding-left:10px;
	padding-top: 2px;

	height:		16px;

}
.UI-widget-label .t0
{
	display:	inline-block;
	text-align: left;
	width:		80%;
}
.UI-widget-label .t1
{
	display:	inline-block;
	width:		18px;
}
.ui-checkbox
{
	display:block;
	background-image: none;
	width: 12px;
	height: 12px;
}
.checkbox-checked
{
	background-color: #000;
}
.checkbox-unchecked
{
}



/* ===================================================
		Lists
   =================================================== */
.list
{
	width:		98%;
	height:		92%;
	margin:		1%;
	padding:	0%;
	overflow:	auto;	/* Shows the scrollbar if too many BRDFs vertically... */
	
	background-image: linear-gradient(#DDD, #CCC, #BBB);
	background-image:-webkit-linear-gradient(#DDD, #CCC, #BBB);	/* chrome 10+, safari 5.1+ */
}

.list-element-BRDF
{
	width:		94%;
	height:		20px;
	margin:		1%;
	background-color: #888;
	padding:	8px;

	/* Text alignment */
	vertical-align: middle;
	text-align:	left;
	font-size:	1.5em;	/* Larger */
	overflow:	hidden;
}

.list-element-BRDF-button
{
	background-color:transparent;
	position:	relative;
	float:		right;
	right:		0px;
	top:		2px;
	cursor:		pointer; 
}

.list-element-BRDF-button:hover
{
	right:-1px;
	top:3px;
}

.list-element-BRDF-selected
{
	background-image: linear-gradient(#FDC, #DA9, #DA9, #C98);
	background-image:-webkit-linear-gradient(#FDC, #DA9, #DA9, #C98);
}
